content {
    margin: auto;
    border-radius: 5px;
    background-color: #b8b0b0;
    padding: 20px;
}
.formdiv form{

    display : inline-block;
    margin : auto;
    text-align: center;
  }
  .formdiv {
    display: block;
    text-align: center;
  
  }
.loginform {
    border-radius: 5px;
    background-color: hsl(0, 7%, 11%);
    padding: 20px;
  }