body{
    background-color: aliceblue;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; }
    
.modal-dialog {
    padding-top: 70px;
}
.container{
    max-width: 400px;
}
.signin{
    vertical-align: 5em;
}
.bottom{
    margin-left: 40%
}
