body {
    padding-top: 54px;
  }

.modal-dialog {
    padding-top: 32px;
    padding-right: 45px;
    margin-left: 5%;
    }

.modal-dialog1 {
    padding-top: 60px;
    padding-right: 35px;
    margin-left: 52%;
    }