body{
    background-color: aliceblue;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px; }

.container1{
        padding-top: 50px;
      
    }

/* h2{
    padding-top: 125px;
}


 */