body {
    padding-top: 54px;
  }

/* .container{
    margin-left:-20px;
  } */


  a{
      color: black;
  }

  .test {
    position: fixed;
}

.modal-dialog1 {
    padding-top: 60px;
    padding-right: 35px;
    margin-left: 17%;
    }
.modal-body{
    margin-left: 220px;
}

