
<!DOCTYPE html>
{% load static %}

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block title %}
    blog
    {% endblock title %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />

</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
              <a class="navbar-brand" href="{% url 'account:firstpage' %}">CodeSarathi</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              </div>
            </div>
        <div class="topnav-right">
    {% load staticfiles %}
           <img src="{{media_url}}{{ pic }}" alt="no image" height="200" width="250" border="1"/>

            <a href="">About</a>

            <a href="{% url 'account:dashboard'}">Become a mentor</a>

    <a href="{% url 'account:logout' %}">logout</a>
        <a href="">Sign-up</a>
     </div>

          </nav>

        {{% block content %}

        {% endblock content %}}

</body>
</html>