manage.*
CodeSarathi/settings/local.py
CodeSarathi/__pycache__
CodeSarathi/settings/__pycache__
account/__pycache__
account/migrations
account/migrations/__pycache__
Mentor/__pycache__
Mentor/migrations
media
QA/__pycache__
QA/migrations

.py[cod]

