
CodeSarathi/settings/local.py

manage.py
CodeSarathi/settings
CodeSarathi/__pycache__
account/__pycache__
account/migrations
account/migrations/__pycache__
media
codesarathi/settings/local.py
CodeSarathi/settings/__pycache__
CodeSarathi/__pycache__
CodeSarathi/__pycache__
.py[cod]
.idea/workspace.xml
.idea/tasks.xml
Mentor/__pycache__
Mentor/migrations
chat/migrations
QA/__pycache__
chat/__pycache__
Mentor/migrations
QA/migrations
QA/migrations/__pycache__
.idea
QA/migrations
mysite.log
.py[cod]g



