
{% extends "mentor_base.html" %}
     {% block content %}  
     <div class="container1">
     <h2 class="text-center">Become a mentor now</h2>
     <h5 class="text-center">Join Developer Community</h5>
        <form action="{% url 'Mentor:signup' %}" method="post">
            <div class="card" style="width: 28rem;">
              <div class="card-body">
          <form class="px-4 py-3"> 
            {% csrf_token %}
            <div class="form-group">
                <label for="username">username</label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                <label for="firstname">Firstname</label>
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
            </div>
            <div class="form-group">
                <label for="lastname">Lastname</label>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </div>
            <div class="form-group">
                <label for="email">email</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="form-group">
                <label for="RepeatPassword">RepeatPassword</label>
                {{ form.password2 }}
                {{ form.password2.errors }}

            </div>
            <button type="submit" class="btn btn-success">Sign up</button>
          </form>
          {% endblock content %}

              <!-- {% for field in form %}
              <p>
                {{ field.label_tag }}<br>
                {{ field }}
                {% if field.help_text %}
                  <small style="display: none">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              </p>
              {% endfor %} -->
           



         
       
<!--    
<div class="form-group">
<input type="text" name="fullname" id="fullname" class="form-control" placeholder="fullname">
</div>
<div class="form-group">
<input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="Email Address">
</div>
<div class="form-group">
<input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
</div>
<div class="form-group">
<input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Repeat Password">
</div>
<br>
<a href="mentor2.html" class="btn btn-success btn-block">Submit</a>
</form>

</div>
</div>
</div>
      -->