<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main_search.css' %}" />

</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="#">CodeSarathi</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Blog<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Mentors</a>
                    </li>
                  </ul>
                </div>
              </nav>
    <div class="row">
    <div class="col-md-8">
    <div class="container">
    
    {% for res in result %}
    <div class="card" style="width: 48rem;">
            <div class="card-body">
            <div class="row">
                <div class="col-4 text-center "><img src="new1.jpg" class="rounded-circle" alt="{{res.profile.first_name}} {{res.profile.last_name}}" width="90" height="90"><br><br>
                <button type="button" onclick="window.location.href='{% url 'chat:home' username=res.profile.username %}'"  class="btn btn-success">Chat</button>
                </div>

                <div class="col-8">
                        <h5 class="card-title">{{res.profile.username}}</h5>
                        <h6>{{res.profile.bio}} </h6>
                        <button type="button" class="btn btn-secondary btn-sm">Python</button>
                        <button type="button" class="btn btn-secondary btn-sm">Django</button>
                        <button type="button" onclick="window.location.href='#'" class="btn btn-secondary btn-sm">Anoconda</button><br><br>
                        <blockquote class="blockquote">
                                <p><small>{{res.bio}}</small></p>
                        </blockquote>


                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    
    </div>
    <br>
    {% endfor %}
    <footer class="py-3 bg-dark">
            <div class="container">
              <p class="m-0 text-center text-white">Copyright &copy; CodeSarathi 2018</p>
            </div>
    </footer>
    
            
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

</body>
</html>