{% extends "base.html" %}
{% block content %}


    <div class="row">
    <div class="col-md-8">
    <div class="container">
    
    {% for res in result %}
    <div class="card" style="width: 48rem;">
            <div class="card-body">
            <div class="row">
                <div class="col-4 text-center "><img src="new1.jpg" class="rounded-circle" alt="Asish Rijal" width="90" height="90"><br><br>
                <button type="button" class="btn btn-success">Get Help</button>
                </div>
                <div class="col-8">
                        <h5 class="card-title">{{res.profile.username}}</h5>
                        <h6>{{res.bio}}</h6>
                        {% for lan in res.languages.all %}
                        <button type="button" class="btn btn-secondary btn-sm">{{lan}}</button>
                        
                        {% endfor %}
                        
                        <blockquote class="blockquote">
                                <p><small>"I fell in love with Python the day I first used it to create small animations for a website in an era where everyone used flash to achieve the same result."</small></p>        
                        </blockquote>
                </div>
            </div>
            </div>
        </div>
    </div>
    </div>
    
    </div>
    <br>
    {% endfor %}
    
{% endblock content %}