<!DOCTYPE html>
<html lang="en">
{% load static %}


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="{% static 'css/main.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">CodeSarathi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </nav>


    <div class="container">

      <div class="row">


        <div class="col-lg-8">


          <h1 class="mt-4">{{ post.title }}</h1>


          <p class="lead">
            by
            <a href="#">{{ post.author }}</a>
          </p>

          <hr>


          <p>Posted on {{ post.publish }}</p>




          <hr>


          </p>
        {{ post.body|linebreaks }}
          <p>
          <a href="">
          Share this post
            </a>
          <hr>


          <!-- comments -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form action="./{{slug}}" method="post">

                {{ comment_form.as_p }}
                {% csrf_token %}

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

          {% for comment in comments %}
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{ comment.name }}</h5>
              <h6 class="mt-o">{{ comment.created }}</h6><br>
              {{ comment.body|linebreaks }}
            </div>
          </div>
          {% empty %}
          <p>There are no comments yet.</p>
          {% endfor %}



        </div>


        <div class="col-md-4">


          <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-success" type="button">Go!</button>
                </span>
              </div>
            </div>
          </div>


          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">Web Design</a>
                    </li>
                    <li>
                      <a href="#">HTML</a>
                    </li>
                    <li>
                      <a href="#">Fun</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#">JavaScript</a>
                    </li>
                    <li>
                      <a href="#">CSS</a>
                    </li>
                    <li>
                      <a href="#">Php</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Codesarathi 2018</p>
      </div>
    </footer>
  </body>
</html>
