<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/singupcss.css' %}" />
</head>
<body>
    <div class="container">
    <form action="{% url 'account:register' %}" method="post" class="main-form needs-validation" novalidate >
    <div class="card" style="width: 28rem;">
        <div class="card-body">
        <form class="px-4 py-3"> 
            {% csrf_token %}
        <h3><p class="text-center">Join With Amazing Community</p></h3><br>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        {{user_form.first_name}}
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        {{user_form.last_name}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                {{user_form.username}}
                {{ user_form.username.errors }}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                {{user_form.email}}
                {{ user_form.email.errors }}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{user_form.password}}
                {{ user_form.password.errors }}
            </div>
            <div class="form-group">
                <label for="password2">Repeat Password</label>
                {{user_form.password2}}
                {{ user_form.password2.errors }}
            </div>
            <br>
            <button type="submit" class="btn btn-success btn-block">Register</button>
            </div>
            
        </div>
    </div>

        </form>
        </div>
</body>
</html>