{% extends "QAbase.html" %}
{% block content %}
<div class="container">
    <h2 class="text-center">Edit Your Question</h2>
       <form action="{% url 'QA:edit' id=Question.id slug=Question.slug%}" method="post">
           <div class="card text-white card-cen" style="width: 35rem;">
             <div class="card-body">
         <form class="px-4 py-3"> 
           {% csrf_token %}
           <div class="form-group">
            <label for="username">Title:</label>
            {{ form.title }}
        </div>
        <div class="form-group">
                <label for="Deccription">Description:</label>
                {{form.description}}
        </div>

        <div>
        <label for="Deccription">Language:</label>
        {{form.related}}
        </div>
        <br>

           <button type="submit" class="btn btn-success btn-block">Update</button>
         </form>
        </div>
    </div>
    </div>
{% endblock %}

