{% extends "QAbase.html" %}
{% block content %}
<a href="">askquestion   </a>
<a href="">filterquestion  </a>
<a href="">myquestion  </a>
<a href="">myanswer   </a>

<div class="container">
    <div class="row">
      <div class="col-md-8"><br>
      <div class="col-md-8">
        <br>
          {% if Questions %}
          {% for Question in Questions %}
          <div class="card mb-4">
          <div class="card-body">

            <h2 class="card-title">{{ Question.title }}</h2>
            <p class="card-text">{{ Question.description|truncatewords:30|linebreaks }}
            <a href="#" class="btn btn-success">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
             {{ Question.pub_date }} by <a href="#">{{ Question.user }} </a>
             {% if Question.user == request.user %}
             <a href="{% url 'QA:edit' id=Question.id slug=Question.slug %}">
              edit
              {% else %}
              {% endif %}</a>
              {% if Question.user == request.user %}
              <a href="{% url 'QA:delete' id=Question.id slug=Question.slug  %}">
                delete 
                {% else %}
                {% endif %}</a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>there is no post </p>
        {% endif %}

        {% include "account/pagination.html" with page=posts %}

      </div>


{% endblock content %}