{% extends "QAbase.html" %}
{% block content %}
<div class="row">
    <div class="col-md-2">
    <div class="test" >
      <div class="card" style="height: 30rem;">
        <div class="card-body .bg-light">
            <div class="sidenav">
        <ul>
          <li  data-toggle="modal" data-target="#myModal1"><a href="#">  Askquestion </a></li>
          <li><a href="{% url 'QA:myquestion' %}">  Myquestion </a></li>
          <li><a href="{% url 'QA:myanswer' %}">  Myanswer </a></li>
        </ul>
        </div>
      </div>
    </div>
    </div>
  </div>

        <div class="col-md-8">
        <br>
        {% if request.user.is_authenticated %}
        {% else %}
        <p>please log in to create a question </p>
        {% endif %}
          <h2 class="text-center mb-4" data-toggle="modal" data-target="#myModal1" ><a href="#">Ask a Question!</a></h2>
          {% if Questions %}
          {% for Question in Questions %}
          <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title" ><a href="{% url 'QA:detail' id=Question.id slug=Question.slug %}">{{ Question.title }}</a></h2>
            <p class="card-text">{{ Question.description|truncatewords:30|linebreaks }}
            
          </div>
          <div class="card-footer text-muted">
             {{ Question.pub_date }} by <a href="#">{{ Question.user }} </a>
             {% if Question.user == request.user %} 
             <a href="{% url 'QA:edit' id=Question.id slug=Question.slug%}">
              edit
              {% else %}
              {% endif %}</a>
              {% if Question.user == request.user %}
              <a data-toggle="modal" data-target="#deleteModal" href="#">
                delete 
                <div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog1 modal-lg">
                      <div class="modal-content">
                      <div class="modal-body ">
                        <p><i class="fa fa-question-circle"></i> Are you sure you want to Delete?<br /></p>
                        <div class="actionsBtns">
                            <form action="google.com" method="post">
                                <a class="btn btn-large btn-danger" href="{% url 'QA:delete'  id=Question.id slug=Question.slug  %}">Delete</a>
                                <button onclick="" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                {% else %}
                {% endif %}</a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>there is no post </p>
        {% endif %}

        {% include "account/pagination.html" with page=posts %}

  </div>
  


      <div id="myModal1" class="modal fade" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="container">
                <h2 class="text-center">Ask a Question</h2>
              <form action="{% url 'QA:create' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                  <label for="username">Title:</label>
                  {{ form.title }}
                  {{ form.title.errors }}
              </div>
  
              <div class="form-group">
                <label for="Deccription">Description:</label>
                {{form.description}}
                {{form.description.errors}}

              </div>
              <label for="Deccription">Language:</label>
                {{form.related}}
                {{form.related.errors}}
              <button type="submit" class="btn btn-block btn-success text-center" class="mb-4">Add Post</button>
              </form>
              <br>
              </div>
              </div>
              </div>
              </div>
              
  
  

{% endblock content %}