{% extends "QAbase.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-8"><br>
      <div class="col-md-8">
        <br>
        {% if request.user.is_authenticated %}
        <div class="card mb-4">
          <div class="card-body">
            <form action="{% url 'QA:create' %}" method="post">
              {{form.as_p}}
              {%csrf_token %}
              <p><input type="submit" value="Post hear"></p>
          </form>
          </div>
        </div>
        
        {% else %}
        <p>please log in to create a question </p>
        {% endif %}
        
          {% if Questions %}
          {% for Question in Questions %}
          <div class="card mb-4">
          <div class="card-body">

            <h2 class="card-title"><a href="{% url 'QA:detail' id=Question.id slug=Question.slug %}">{{ Question.title }}</a></h2>
            <p class="card-text">{{ Question.description|truncatewords:30|linebreaks }}
            
          </div>
          <div class="card-footer text-muted">
             {{ Question.pub_date }} by <a href="#">{{ Question.user }} </a>
             {% if Question.user == request.user %}
             <a href="{% url 'QA:edit' id=Question.id slug=Question.slug %}">
              edit
              {% else %}
              {% endif %}</a>
              {% if Question.user == request.user %}
              <a href="{% url 'QA:delete' id=Question.id slug=Question.slug  %}">
                delete 
                {% else %}
                {% endif %}</a>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>there is no post </p>
        {% endif %}

        {% include "account/pagination.html" with page=posts %}

      </div>


{% endblock content %}